h1{
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: "Arial Black";
}
.headerDiv{
    background-color: red;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
.menuButtons{
    color: white;
    font-size: 40px;

}
.home,.play,.gDesign,.devTeam{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    font-family: Arial;
    background-color: black;
    float:left;
    clear:none;
    width: 25%;
}
.home:hover{
    background-color: red;
    margin: 0;
}

.play:hover{
    background-color: red;
    margin: 0;
}

.gDesign:hover{
    background-color: red;
}
.devTeam:hover{
    background-color: red;
}
.mainBody{
    background-color: gray;
}
.paragraph1,.paragraph2{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    font-family: "Arial";
}
.paragraph1{
    padding: 30px;
    width: 45%;
    font-size: 30px;
}
.paragraph2{
    padding: 30px;
    width: 45%;
    font-size: 30px;
}
.playParagraph1{
    padding: 60px;
    font-size: 50px;
    text-align: center;
    font-family: Arial;
}
.designParagraph1{
    font-size: 30px;
    text-align: left;
    width: 60%;
    padding: 30px;
    font-family: Arial;
}
.designImage1{
    padding-left: 20px;
    padding-top: 30px;
}

.designParagraph1,.designImage1{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.footer{
    background-color: red;
    font-family: Arial;
    padding: 40px;
    font-size: 20px;
}
