h1{
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: "Arial Black";
}
.headerDiv{
    background-color: red;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menuButtons{
    background-color: black;
    color: white;
    font-size: 40px;

}
.home,.play,.gDesign,.devTeam{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    font-family: Arial;
}
.home{
    width: 24%;
    background-color: red;
}
.play{
    width: 24%;
}
.gDesign{
    width: 24%;
    background-color: red;
}
.devTeam{
    width: 24%;
}
.mainBody{
    margin: 0;
    background-color: gray;
}
.paragraph1,.paragraph2{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    font-family: "Arial";
}
.paragraph1{
    padding: 30px;
    width: 45%;
    font-size: 30px;
}
.paragraph2{
    padding: 30px;
    width: 45%;
    font-size: 30px;
}
.footer{
    background-color: red;
    font-family: Arial;
    padding: 40px;
    font-size: 20px;
}
